fastapi==0.115.6
uvicorn[standard]==0.34.0
pandas
numpy
scikit-learn
pydantic[email]
python-multipart
xgboost
joblib
scipy
requests==2.32.3
# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
# Database
sqlalchemy
psycopg2-binary
python-dotenv
# Force rebuild qui 25 dez 2025 15:37:57 -03
