fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
pydantic[email]
python-multipart
xgboost
joblib
scipy
requests
# Authentication
python-jose[cryptography]
passlib[bcrypt]
# Database
sqlalchemy
psycopg2-binary
python-dotenv
# Force rebuild qui 25 dez 2025 15:37:57 -03
